html {
  font-size: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  // min-height: -webkit-fill-available;
  min-height: 100%;

  background-color: $background-color;

  font-size: $font-size-default;
  font-family: $font-default;
  color: $font-color;
}
