.c-animal-list-item {
  max-width: 100%;
  display: flex;
  width: 30rem;
  margin: 1rem;

  &__photo {
    &--size {
      width: 13rem;
      height: 13rem;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }
  &__info {
    margin-top: 1.1rem;
    padding: 0.5rem 1rem;

    width: 17rem;
    height: 11rem;

    background-color: #fff;
    border-radius: 0 1.5rem 1.5rem 0;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3rem;
    }

    &--name {
      font-weight: 700;
    }
    &--breed {
      font-size: 14px;
      font-weight: 500;
      margin: 0.8rem 0;
    }
    &--age {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.gender-icon {
  height: 25px;
  // color: #535353;
}
