$font-default: "Montserrat", sans-serif;
$font-size-default: 1.6rem;

$primary-color: #20b2aa;
$font-color: #707070;

$background-color: #f6f6f6;
// $background-color: #000;

$border-radius-standard: 0 1.5rem 1.5rem 0;
// $border-radius-standard: 0 0 0 0;

.image-small {
  width: 13rem;
  height: 13rem;
}

.image-small-border-radius {
  width: 13rem;
  height: 13rem;
  border-radius: 0 1.5rem 1.5rem 0;
}
